Peter Jönsson <peter.joensson@gmail.com> <peter.jonsson@klarna.com> <pjn@spotify.com> <p.joensson@bigpoint.net>
Seiji Sogabe <s.sogabe@gmail.com> <sogabe@dev.java.net>
Kohsuke Kawaguchi <kk@kohsuke.org> <kohsuke@dev.java.net>
Nico Mommaerts <nico.mommaerts@gmail.com>
Mark Waite <MarkWaite@yahoo.com> <Mark.Waite@ca.com> <mark.earl.waite@gmail.com>
